# Security policy

## Supported versions

Only the latest release of [[ name ]] receives security fixes.

## Reporting a vulnerability

Please use [private vulnerability reporting](https://github.com/[[ repo ]]/security/advisories/new)
and don't open a public issue. Include:

- the version you're using,
- steps to reproduce the problem,
- what an attacker could do with it.

You'll get a reply acknowledging the report, and a fix or a decision will follow.
