<svg xmlns="http://www.w3.org/2000/svg" width="[[ width ]]" height="20" role="img" aria-label="[[ label ]]: [[ message ]]">
  <title>[[ label ]]: [[ message ]]</title>
  <linearGradient id="s" x2="0" y2="100%"><stop offset="0" stop-color="#bbb" stop-opacity=".1"/><stop offset="1" stop-opacity=".1"/></linearGradient>
  <clipPath id="r"><rect width="[[ width ]]" height="20" rx="3" fill="#fff"/></clipPath>
  <g clip-path="url(#r)">
    <rect width="[[ label_width ]]" height="20" fill="#555"/>
    <rect x="[[ label_width ]]" width="[[ message_width ]]" height="20" fill="[[ color ]]"/>
    <rect width="[[ width ]]" height="20" fill="url(#s)"/>
  </g>
  <g fill="#fff" text-anchor="middle" font-family="Verdana,Geneva,DejaVu Sans,sans-serif" font-size="11">
    <text x="[[ label_x ]]" y="14">[[ label ]]</text>
    <text x="[[ message_x ]]" y="14">[[ message ]]</text>
  </g>
</svg>
